<!DOCTYPE html>
<html ng-app="app">
  <head>
    <title>Angular Application</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.js"></script>
  </head>
  <body>
    <div ng-controller="CounterController as counter">
    	<h3>Counter: {{ counter.count }}</h3>
    	<a href="" ng-click="counter.increment();" class="counter__increment">Increment Counter</a> -
    	<a href="" ng-click="counter.decrement();" class="counter__decrement">Decrement Counter</a>

    	<ul>
    		<li ng-repeat="list in counter.countList">
    			<input type="text" ng-model="list.id" />
    		</li>
    	</ul>

    </div>

    <script src="./js/app.js"></script>
    <script src="./js/CounterController.js"></script>
  </body>
</html>
